.header-logo {
    width: 4vw;
    height: 8vh;
    border-radius: 25px;
    object-fit: cover;
}

.p-1 {
    padding: 1%;
}

.p-2 {
    padding: 2%;
}

.p-8 {
    padding: 8%;
}

.p-5 {
    padding: 5%;
}

.m-top-7 {
    margin-top: 7%;
}

.middleNav {
    margin: auto 10%;
}

.w-28 {
    width: 28%;
}

.nav-options {
    width: fit-content;
    align-items: center;
}

.main-logo-wrapper {
    width: 100%;
    align-items: center;
}

.main-logo-img {
    width: 100%;
    align-items: center;
}

.btn-color:hover {
    color: green;
    transition: all 0.5s linear;
    border: 1px solid green;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}

.btn-color {
    color: black;
}

.nav-button {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.nav-button:hover {}