* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}

.d-flex {
  display: flex;
}
.d-flex-column {
  display: flex;
  flex-direction: column;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-content: center;
}
.w-12 {
  width: 12%;
}
.width-50 {
  width: 50%;
}
.width-95 {
  width: 95%;
}
.btn-bg-white {
  background-color: #fff;
}
.b-bottom {
  border-bottom: 1px solid #222;
}
.font-weight-700 {
  font-weight: 700;
}
.font-weight-1000 {
  font-weight: 1000;
}
.width-70 {
  width: 70%;
}
.font-bold {
  font-weight: bolder;
}
.w-fit {
  width: fit-content;
}
.m-right-4{
  margin-right:4%
}
.h-fit-content{
  height:fit-content;
}
.m-bottom-1{
  margin-bottom: 1%;
}